<app-autocomplete-search
  [placeholder]="'Gib deinen Namen ein...'"
  [caption]="'Wer bist du?'"
  [options]="[
    'Rehmer, Marco',
    'Kramer, Nico',
    'Mustermann, Max',
    'Musterfrau, Maria'
  ]"
></app-autocomplete-search>

<div style="display: flex; align-items: center; margin-bottom: 1rem">
  <mat-icon style="font-size: 3rem; width: 3rem; height: 3rem"
    >account_circle</mat-icon
  >
  <span style="font-size: 1.5rem">Rehmer, Marco</span>
</div>

<app-autocomplete-search
  [placeholder]="'Produktname, Barcode, etc...'"
  [caption]="'Was möchtest du kaufen?'"
  [options]="[
    'Gösser Radler',
    'Snickers',
    'Mineralwasser, medium',
    'Mineralwasser, still',
    'Paulaner Spezi'
  ]"
></app-autocomplete-search>
<div style="display: flex; align-items: center; margin-bottom: 1rem">
  <button mat-icon-button style="margin-right: 1rem">
    <mat-icon>close</mat-icon>
  </button>

  <span style="font-size: 1.5rem; flex: 1 1 auto">Gösser Radler</span>
  <span style="font-size: 1.5rem; color: green">0,79€</span>

  <button mat-icon-button style="margin-left: 1rem">
    <mat-icon>add</mat-icon>
  </button>
  <span style="font-size: 1.5rem">1</span>
  <button mat-icon-button>
    <mat-icon>remove</mat-icon>
  </button>
</div>
<div style="display: flex; justify-content: center" *ngIf="false">
  <button mat-fab>
    <mat-icon>add</mat-icon>
  </button>
</div>

<div class="footer">
  <button mat-raised-button style="margin-right: 1rem">verwerfen</button>
  <button mat-raised-button color="accent" (click)="openBuyDialog()">
    jetzt kaufen
  </button>
</div>
