<mat-toolbar color="primary">
  <span class="toolbar-spacer"></span>
  <span class="toolbar-title">Katsching</span>
  <span class="toolbar-spacer"></span>
  <mat-icon>cottage</mat-icon>
</mat-toolbar>

<div class="layout-container">
  <div class="content">
    <app-cashdesk-form></app-cashdesk-form>
  </div>
</div>
