.layout-container {
  display: flex;
  justify-content: center;
}

.content {
  width: 900px;
  height: calc(100vh - 4rem);
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.toolbar-title {
  font-family: "Yellowtail", cursive;
  font-size: 4rem;
  color: orange;
}

.mat-toolbar {
  background-color: transparent;
}
