<form>
  <mat-form-field appearance="fill" style="width: 100%">
    <mat-label>{{ caption }}</mat-label>
    <input
      type="text"
      placeholder="{{ placeholder }}"
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option
        *ngFor="let option of filteredOptions | async"
        [value]="option"
      >
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
